.container{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 2px var(--pulse-color);
    transition: all 0.5s;
    
}

.imgItem{
    max-width: 130px;
    
}
.container:hover{
    transition: all 0.5s;
    transform: scale(1.3);
    box-shadow: 0 0 50px 10px var(--pulse-color);
}

@media (max-width: 1025px) {
    
}
  