.paragraph {
  font-size: var(--FONT-SIZE-MD);
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 2;
  text-transform: uppercase;
}

.subTitle {
  font-size: var(--FONT-SIZE-XS);
  color: var(--CYANE);
}
