:root{
    --GREEN_400: #03B8AA;
    --GREEN_500: #00AE9D;
    --GRAY_100: #E1E1E6;
    --GRAY_200: #C4C4CC;
    --GRAY_400: #8D8D99;
    --GRAY_500: #7C7C8A;
    --GRAY_600: #323238;
    --GRAY_700: #202024;
    --GRAY_800: #1E1E1E;

    --RED_NESTJS: #E0234E;
    --BLUE_REACT: #61DAFB;
    --PUPLE_NEXTS: #6C5AEF;


}