.container {
  width: 100%;

  padding: 0 2rem;
}

.containerSections {
  width: 100%;
  height: 100vh;
  /* margin: 5rem 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titles {
  margin-bottom: 3rem;
}

.linkButton {
  text-decoration: none;
}

.titlesDisplay {
  display: flex;
  align-items: flex-end;

  gap: 1rem;
}

.titleAsap {
  font-size: calc(var(--FONT-SIZE-XL) * 1.5);
  line-height: 1.7;
}

.titleBebas {
  color: var(--GREEN_500);
  letter-spacing: 3px;
  font-size: calc(var(--FONT-SIZE-XL) * 2);
}

.paragraph {
  font-size: var(--FONT-SIZE-LG);
}

.containerProfile {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.continuator {
  width: 100%;
  background-color: var(--GRAY_700);
  height: 200px;
}

.sectionSocialNetwork {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 1rem;
}

.networkDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.separator {
  width: 0.5rem;
  border-radius: 5px;
  height: 10rem;
  background-color: var(--GREEN_500);
}
.displayLinks {
  padding: 3rem 1.5rem;
  /* width: 100%; */
  /* margin: 3rem 0; */
}

.fotoQuadHd {
  display: none;
}

.fotoFullHd {
  position: absolute;
  display: block;
  z-index: -1;
  object-fit: cover;
}
.fotoMobile {
  display: none;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}

@media (min-width: 2000px) {
  .containerSections {
    justify-content: space-around;
  }

  .titleBebas {
    font-size: calc(var(--FONT-SIZE-XL) * 2.8);
    letter-spacing: 8px;
    /* line-height: 1.7; */
  }
  .paragraph {
    font-size: calc(var(--FONT-SIZE-LG) * 1.5);
  }
}

@media (max-width: 1025px) {
  .fotoFullHd {
    display: none;
  }

  .fotoMobile {
    position: absolute;
    display: block;
    z-index: -1;
    object-fit: cover;
  }
  .containerSections {
    overflow-x: hidden;
    flex-direction: column;
    padding: 4rem 0;
    /* height: 100vh; */
  }

  .linkButton {
    display: none;
  }

  .titles {
    text-align: center;
  }

  .elipse {
    left: 2%;
    top: 50%;
    width: 400px;
    height: 400px;
  }

  .imageDev {
    margin-top: 3rem;
    width: 400px;
    height: 400px;
  }

  .sectionSocialNetwork {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    /* margin-bottom: ; */
    /* display: none; */
  }

  .separator {
    height: 0.1rem;
    width: 100%;
    border-radius: 5px;
    background-color: var(--GREEN_500);
  }
}
