.buttonField {
  height: 2.5rem;
  border-radius: 10px;
  color: var(--GRAY_100);
  font-weight: 700;
  background-color: var(--GREEN_400);
  border: solid 1px var(--GREEN_400);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
}
.buttonField:hover{
  transition: all 0.3s;
  box-shadow: 0px 0px 15px 6px var(--GREEN_400)
}
.buttonNotField {
  transition: all 0.3s;
  height: 2.5rem;
  text-align: center;
  border-radius: 10px;
  color: var(--GRAY_100);
  background-color: var(--GRAY_600);
  border: solid 1px var(--GREEN_400);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  cursor: pointer;
}

.buttonNotField:hover{
  transition: all 0.3s;
  box-shadow: 0px 0px 15px 6px var(--GREEN_400)
}

.buttonNotField > span {
  color: var(--GREEN_400);
}
