.container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
@media (max-width: 1025px) {
  .container {
    /* flex-direction: column; */
    margin-top: 1rem;
    gap: 3rem;
  }
}
