.container {
  width: 100%;
  overflow-x: hidden;
  padding: 0 2rem;
}

.containerSections {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.titles {
  margin-bottom: 3rem;
}

.titlesDisplay {
  display: flex;
  align-items: flex-end;

  gap: 1rem;
}

.titleAsap {
  font-size: calc(var(--FONT-SIZE-XL) * 1.5);
  line-height: 1.7;
}

.titleBebas {
  color: var(--GREEN_500);
  letter-spacing: 3px;
  font-size: calc(var(--FONT-SIZE-XL) * 2);
}

.paragraph {
  font-size: var(--FONT-SIZE-LG);
}

.containerProfile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.elipse {
  top: 20%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  background-color: var(--GREEN_500);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(100px);
  animation: pulse 6s ease-in-out infinite;
  /* transform-origin: 10% 0%; */
}

.imageDev {
  object-fit: contain;
  width: 800px;
  height: 800px;
}
.continuator {
  width: 100%;
  background-color: var(--GRAY_700);
  height: 200px;
}

.sectionSocialNetwork {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 1rem;
}

.networkDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.separator {
  width: 0.5rem;
  border-radius: 5px;
  height: 10rem;
  background-color: var(--GREEN_500);
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
}

@media (max-width: 1025px) {
  .containerSections {
    overflow-x: hidden;
    flex-direction: column;
    /* height: 100vh; */
  }

  .titles {
    text-align: center;
  }

  .elipse {
    top: 50%;
  }
  .imageDev {
    object-fit: contain;
    width: 120%;
    /* height: 800px; */
  }

  .sectionSocialNetwork {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    /* margin-bottom: ; */
    /* display: none; */
  }

  .separator {
    height: 0.1rem;
    width: 100%;
    border-radius: 5px;
    background-color: var(--GREEN_500);
  }
}
